# Database
DB_USER=cacheiq
DB_PASSWORD=cacheiq

# Spring
SPRING_PROFILES_ACTIVE=dev

# Groq LLM (gratuito en console.groq.com)
GROQ_API_KEY=tu_key_aca
LLM_PROVIDER=groq
LLM_PROVIDER_GROQ_MODEL=llama-3.3-70b-versatile